<p>edit for: <%= @comic.title %></p>

<%= form_for (@comic) do |f| %>

	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %><br />
		<%= f.label :publisher %><br />
		<%= f.text_field :publisher %><br /><br /><br />
		</div>
		<div class="fild">
			<% Tag.order(:name).each do |tag| %>
			<%= check_box_tag("comic[tag_ids][]", tag.id,
												@comic.tags.collect(&:id).include?(tag.id)) %>
			<%= tag.name %><br>
			<% end %>
			<% Character.order(:name).each do |character| %>
			<%= check_box_tag("comic[character_ids][]",character.id,
									@comic.characters.collect(&:id).include?(character.id)) %>
			<%= character.name %> - <%= character.power %>
			<% end %>
		</div>
		<p><%= f.submit"save" %></p>
	</div>
<% end %>